<div id="login_scene" style="padding: 3em; display: none;">
	<h1>Login</h1>
	<input type="text" id="email" placeholder="E-Mail" />
	<input type="password" id="password" placeholder="Password" />
	<input type="button" id="login" value="Login" class="btn btn-primary" />
	<input type="button" id="show_create_login" value="Create a Login" class="btn btn-info" />
	<br/>
	<span id="login_message"/>
</div>
<div id="create_login_scene" style="padding: 3em; display: none;">
	<h1>Create Login</h1>
	<input type="text" id="email_create" placeholder="E-Mail" />
	<input type="password" id="password_create" placeholder="Password" />
	<input type="password" id="confirm_password_create" placeholder="Confirm Password" />
	<input type="button" id="create_login" value="Create Login" class="btn btn-primary" />
	<input type="button" id="show_login" value="Cancel" class="btn btn-default" />
	<br/>
	<span id="create_login_message"/>
</div>
<canvas id="game_scene" height="800" width="600" style="display: none;"></canvas>